In [3]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

In [18]:
adidas = pd.read_csv('reviewsAdidas.csv')
asics = pd.read_csv('reviewsAsics.csv')
newbalance = pd.read_csv('reviewsNewBalance.csv')
nike = pd.read_csv('reviewsNike.csv', encoding='ISO-8859-1')
alldata = pd.read_csv('mergeddata.csv', encoding='ISO-8859-1')

## adidas

In [156]:
adidas['tokens'] = adidas['review'].apply(str.lower)
adidas['tokens'] = adidas['tokens'].map(nltk.word_tokenize)
adidas.head()

,review,tokens
0,"For the longest time, I had mixed emotions reg...","[for, the, longest, time, ,, i, had, mixed, em..."
1,These have been my favorite all purpose advent...,"[these, have, been, my, favorite, all, purpose..."
2,I wore Sambas in my late teens (I'm now 39 yea...,"[i, wore, sambas, in, my, late, teens, (, i, '..."
3,Adidas is always a little bit roomier than Nik...,"[adidas, is, always, a, little, bit, roomier, ..."
4,Delivery took a couple days longer than the 2-...,"[delivery, took, a, couple, days, longer, than..."

In [157]:
adidaslist = [item for sublist in adidas['tokens'].tolist() for item in sublist]

In [158]:
import numpy as np

stopset = set(stopwords.words('english'))
stopset.update(['shoe', '.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
adidastokens = [w for w in adidaslist if not w in stopset]

adidaslemma = []
lemma = WordNetLemmatizer()

for i in adidastokens:
    new = lemma.lemmatize(i)
    adidaslemma.append(new)
    
adidastokensdf = pd.DataFrame(np.array(adidaslemma))
adidastokensdf.columns = ['words']

In [159]:
adidaswordlist = adidastokensdf['words'].value_counts()

In [160]:
adidasreplace = pd.read_csv("adidaswordlist.csv")
adidasreplace.head()

,ATTRIBUTE,WORD,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,fit,narrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fit,little,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fit,snugness,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fit,huge,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fit,size,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
replace = adidasreplace['ATTRIBUTE'].tolist()
search = adidasreplace['WORD'].tolist()
replaceDict = dict(zip(search, replace))

def replaceWord(l):
    new_list = []
    for x in l:
        if x not in list(replaceDict.keys()):
            x = x
        else:
            x = replaceDict[x]
        new_list.append(x)
    return new_list
    
adidas['finaltokens'] = adidas['tokens'].apply(replaceWord)
adidas.head()

,review,tokens,finaltokens
0,"For the longest time, I had mixed emotions reg...","[for, the, longest, time, ,, i, had, mixed, em...","[for, the, longest, time, ,, i, had, mixed, em..."
1,These have been my favorite all purpose advent...,"[these, have, been, my, favorite, all, purpose...","[these, have, been, my, favorite, all, purpose..."
2,I wore Sambas in my late teens (I'm now 39 yea...,"[i, wore, sambas, in, my, late, teens, (, i, '...","[i, wore, sambas, in, my, late, teens, (, i, '..."
3,Adidas is always a little bit roomier than Nik...,"[adidas, is, always, a, little, bit, roomier, ...","[adidas, is, always, a, fit, bit, roomier, tha..."
4,Delivery took a couple days longer than the 2-...,"[delivery, took, a, couple, days, longer, than...","[delivery, took, a, couple, days, longer, than..."

In [162]:
flatattributes = [item for sublist in adidas['finaltokens'].tolist() for item in sublist]

stopset = set(stopwords.words('english'))
stopset.update(['shoe', 'shoes','.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
adidastokens = [w for w in flatattributes if not w in stopset]

adidaslemma = []
lemma = WordNetLemmatizer()

for i in adidastokens:
    new = lemma.lemmatize(i)
    adidaslemma.append(new)
    
adidastokensdf = pd.DataFrame(np.array(adidaslemma))
adidastokensdf.columns = ['words']
adidaswordlist = adidastokensdf['words'].value_counts()
adidaswordlist[:20]

adidaswordlist.to_csv("finalorderadidas.csv")

## asics

In [163]:
asics['tokens'] = asics['review'].apply(str.lower)
asics['tokens'] = asics['tokens'].map(nltk.word_tokenize)
asics.head()

,review,tokens
0,I have plantar fasciitis and I originally boug...,"[i, have, plantar, fasciitis, and, i, original..."
1,The toe portion of the shoe is already coming ...,"[the, toe, portion, of, the, shoe, is, already..."
2,"I do need to qualify this review, as I had no ...","[i, do, need, to, qualify, this, review, ,, as..."
3,First: These are absolutely trail shoes above ...,"[first, :, these, are, absolutely, trail, shoe..."
4,I buy a lot of ASICS shoes because 1) I know w...,"[i, buy, a, lot, of, asics, shoes, because, 1,..."

In [164]:
asicslist = [item for sublist in asics['tokens'].tolist() for item in sublist]

stopset = set(stopwords.words('english'))
stopset.update(['shoes', 'shoe','.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
asicstokens = [w for w in asicslist if not w in stopset]

asicslemma = []
lemma = WordNetLemmatizer()

for i in asicstokens:
    new = lemma.lemmatize(i)
    asicslemma.append(new)

In [165]:
asicstokensdf = pd.DataFrame({'words': asicslemma})
asicstokensdf = asicstokensdf['words'].value_counts()

In [166]:
asicsreplace = pd.read_csv("adidaswordlist.csv")

replace = asicsreplace['ATTRIBUTE'].tolist()
search = asicsreplace['WORD'].tolist()
replaceDict = dict(zip(search, replace))

def replaceWord(l):
    new_list = []
    for x in l:
        if x not in list(replaceDict.keys()):
            x = x
        else:
            x = replaceDict[x]
        new_list.append(x)
    return new_list
    
asics['finaltokens'] = asics['tokens'].apply(replaceWord)
asics.head()

,review,tokens,finaltokens
0,I have plantar fasciitis and I originally boug...,"[i, have, plantar, fasciitis, and, i, original...","[i, have, plantar, fasciitis, and, i, original..."
1,The toe portion of the shoe is already coming ...,"[the, toe, portion, of, the, shoe, is, already...","[the, toe, portion, of, the, shoe, is, already..."
2,"I do need to qualify this review, as I had no ...","[i, do, need, to, qualify, this, review, ,, as...","[i, do, need, to, qualify, this, review, ,, as..."
3,First: These are absolutely trail shoes above ...,"[first, :, these, are, absolutely, trail, shoe...","[first, :, these, are, absolutely, trail, shoe..."
4,I buy a lot of ASICS shoes because 1) I know w...,"[i, buy, a, lot, of, asics, shoes, because, 1,...","[i, buy, a, lot, of, asics, shoes, because, 1,..."

In [167]:
flatattributes = [item for sublist in asics['finaltokens'].tolist() for item in sublist]

stopset = set(stopwords.words('english'))
stopset.update(['shoe', 'shoes','.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
asicstokens = [w for w in flatattributes if not w in stopset]

asicslemma = []
lemma = WordNetLemmatizer()

for i in asicstokens:
    new = lemma.lemmatize(i)
    asicslemma.append(new)
    
asicstokensdf = pd.DataFrame(np.array(asicslemma))
asicstokensdf.columns = ['words']
asicslist = asicstokensdf['words'].value_counts()
asicslist.to_csv("finalorderasics.csv")

## Nike

In [168]:
nike['tokens'] = nike['review'].apply(str.lower)
nike['tokens'] = nike['tokens'].map(nltk.word_tokenize)
nike.head()

,review,tokens
0,I have another pair of these Nike's in the exa...,"[i, have, another, pair, of, these, nike, 's, ..."
1,"My husband loves these, he wears a 4E and has ...","[my, husband, loves, these, ,, he, wears, a, 4..."
2,I'm very Familiar with the Nike Air Monarch li...,"[i, 'm, very, familiar, with, the, nike, air, ..."
3,These replaced a pair of Nike Air Monarchs tha...,"[these, replaced, a, pair, of, nike, air, mona..."
4,last pair was listed as 6-13 (lasted a long ti...,"[last, pair, was, listed, as, 6-13, (, lasted,..."

In [169]:
nikelist = [item for sublist in nike['tokens'].tolist() for item in sublist]

import numpy as np

stopset = set(stopwords.words('english'))
stopset.update(['shoe', 'shoes', '.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
niketokens = [w for w in nikelist if not w in stopset]

nikelemma = []
lemma = WordNetLemmatizer()

for i in niketokens:
    new = lemma.lemmatize(i)
    nikelemma.append(new)
    
niketokensdf = pd.DataFrame(np.array(nikelemma))
niketokensdf.columns = ['words']

nikewordlist = niketokensdf['words'].value_counts()
nikereplace = pd.read_csv("adidaswordlist.csv")
nikereplace.head()

,ATTRIBUTE,WORD,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,fit,narrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fit,little,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fit,snugness,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fit,huge,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fit,size,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
replace = nikereplace['ATTRIBUTE'].tolist()
search = nikereplace['WORD'].tolist()
replaceDict = dict(zip(search, replace))

def replaceWord(l):
    new_list = []
    for x in l:
        if x not in list(replaceDict.keys()):
            x = x
        else:
            x = replaceDict[x]
        new_list.append(x)
    return new_list
    
nike['finaltokens'] = nike['tokens'].apply(replaceWord)
nike.head()

,review,tokens,finaltokens
0,I have another pair of these Nike's in the exa...,"[i, have, another, pair, of, these, nike, 's, ...","[i, have, another, pair, of, these, nike, 's, ..."
1,"My husband loves these, he wears a 4E and has ...","[my, husband, loves, these, ,, he, wears, a, 4...","[my, husband, loves, these, ,, he, wears, a, 4..."
2,I'm very Familiar with the Nike Air Monarch li...,"[i, 'm, very, familiar, with, the, nike, air, ...","[i, 'm, very, familiar, with, the, nike, air, ..."
3,These replaced a pair of Nike Air Monarchs tha...,"[these, replaced, a, pair, of, nike, air, mona...","[these, replaced, a, pair, of, nike, air, mona..."
4,last pair was listed as 6-13 (lasted a long ti...,"[last, pair, was, listed, as, 6-13, (, lasted,...","[last, pair, was, listed, as, 6-13, (, quality..."

In [179]:
flatattributes = [item for sublist in nike['finaltokens'].tolist() for item in sublist]

stopset = set(stopwords.words('english'))
stopset.update(['shoe', 'shoes','.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
niketokens = [w for w in flatattributes if not w in stopset]

nikelemma = []
lemma = WordNetLemmatizer()

for i in niketokens:
    new = lemma.lemmatize(i)
    nikelemma.append(new)
    
niketokensdf = pd.DataFrame(np.array(nikelemma))
niketokensdf.columns = ['words']
nikewordlist = niketokensdf['words'].value_counts()
nikewordlist[:20]
nikewordlist.to_csv("finalordernike.csv")

## New Balance

In [172]:
newbalance['tokens'] = newbalance['review'].apply(str.lower)
newbalance['tokens'] = newbalance['tokens'].map(nltk.word_tokenize)
newbalance.head()

,review,tokens
0,"The style update ""V4"" of this shoe has much le...","[the, style, update, ``, v4, '', of, this, sho..."
1,"Have been wearing them for years, a number of ...","[have, been, wearing, them, for, years, ,, a, ..."
2,The two pair I have just purchased are the 4th...,"[the, two, pair, i, have, just, purchased, are..."
3,I usually hate buying shoes on line because yo...,"[i, usually, hate, buying, shoes, on, line, be..."
4,I have had many pairs of NB shoes over the yea...,"[i, have, had, many, pairs, of, nb, shoes, ove..."

In [173]:
newbalancelist = [item for sublist in newbalance['tokens'].tolist() for item in sublist]

import numpy as np

stopset = set(stopwords.words('english'))
stopset.update(['shoe', 'shoes', '.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
newbalancetokens = [w for w in newbalancelist if not w in stopset]

newbalancelemma = []
lemma = WordNetLemmatizer()

for i in newbalancetokens:
    new = lemma.lemmatize(i)
    newbalancelemma.append(new)
    
newbalancetokensdf = pd.DataFrame(np.array(newbalancelemma))
newbalancetokensdf.columns = ['words']

newbalancewordlist = newbalancetokensdf['words'].value_counts()
newbalancereplace = pd.read_csv("adidaswordlist.csv")
newbalancereplace.head()

,ATTRIBUTE,WORD,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,fit,narrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fit,little,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fit,snugness,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fit,huge,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fit,size,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
replace = newbalancereplace['ATTRIBUTE'].tolist()
search = newbalancereplace['WORD'].tolist()
replaceDict = dict(zip(search, replace))

def replaceWord(l):
    new_list = []
    for x in l:
        if x not in list(replaceDict.keys()):
            x = x
        else:
            x = replaceDict[x]
        new_list.append(x)
    return new_list
    
newbalance['finaltokens'] = newbalance['tokens'].apply(replaceWord)
newbalance.head()

,review,tokens,finaltokens
0,"The style update ""V4"" of this shoe has much le...","[the, style, update, ``, v4, '', of, this, sho...","[the, style, update, ``, v4, '', of, this, sho..."
1,"Have been wearing them for years, a number of ...","[have, been, wearing, them, for, years, ,, a, ...","[have, been, wearing, them, for, years, ,, a, ..."
2,The two pair I have just purchased are the 4th...,"[the, two, pair, i, have, just, purchased, are...","[the, two, pair, i, have, just, purchased, are..."
3,I usually hate buying shoes on line because yo...,"[i, usually, hate, buying, shoes, on, line, be...","[i, usually, hate, buying, shoes, on, line, be..."
4,I have had many pairs of NB shoes over the yea...,"[i, have, had, many, pairs, of, nb, shoes, ove...","[i, have, had, many, pairs, of, nb, shoes, ove..."

In [175]:
flatattributes = [item for sublist in newbalance['finaltokens'].tolist() for item in sublist]

stopset = set(stopwords.words('english'))
stopset.update(['shoe', 'shoes','.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
newbalancetokens = [w for w in flatattributes if not w in stopset]

newbalancelemma = []
lemma = WordNetLemmatizer()

for i in newbalancetokens:
    new = lemma.lemmatize(i)
    newbalancelemma.append(new)
    
newbalancetokensdf = pd.DataFrame(np.array(newbalancelemma))
newbalancetokensdf.columns = ['words']
newbalancewordlist = newbalancetokensdf['words'].value_counts()
newbalancewordlist[:20]
newbalancewordlist.to_csv("finalordernewbalance.csv")

## Calculating lifts

In [26]:
alldata['tokens'] = alldata['review'].apply(unicode.lower)
alldata['tokens'] = alldata['tokens'].map(nltk.word_tokenize)
alldata.head()

alldatalist = [item for sublist in alldata['tokens'].tolist() for item in sublist]

In [32]:
import numpy as np

stopset = set(stopwords.words('english'))
stopset.update(['shoe', '.', ',', '"', "'", '?', '!', ':', ';', '<', '>', '(', ')', '[', ']', '{', '}'])
alldatatokens = [w for w in alldatalist if not w in stopset]

alldatalemma = []
lemma = WordNetLemmatizer()

for i in alldatatokens:
    new = lemma.lemmatize(i)
    alldatalemma.append(new)
    
alldatatokensdf = pd.DataFrame(np.array(alldatalemma))
alldatatokensdf.columns = ['words']

In [36]:
alldatawordlist = alldatatokensdf['words'].value_counts()
alldatareplace = pd.read_csv("adidaswordlist.csv")
alldatareplace.head()

,ATTRIBUTE,WORD,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,fit,narrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fit,little,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fit,snugness,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fit,huge,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fit,size,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
replace = alldatareplace['ATTRIBUTE'].tolist()
search = alldatareplace['WORD'].tolist()
replaceDict = dict(zip(search, replace))

def replaceWord(l):
    new_list = []
    for x in l:
        if x not in list(replaceDict.keys()):
            x = x
        else:
            x = replaceDict[x]
        new_list.append(x)
    return new_list
    
alldata['finaltokens'] = alldata['tokens'].apply(replaceWord)
alldata.head()

,review,tokens,finaltokens
0,"adidas For the longest time, I had mixed emoti...","[adidas, for, the, longest, time, ,, i, had, m...","[adidas, for, the, longest, time, ,, i, had, m..."
1,adidas These have been my favorite all purpose...,"[adidas, these, have, been, my, favorite, all,...","[adidas, these, have, been, my, favorite, all,..."
2,adidas I wore Sambas in my late teens (I'm now...,"[adidas, i, wore, sambas, in, my, late, teens,...","[adidas, i, wore, sambas, in, my, late, teens,..."
3,adidas Adidas is always a little bit roomier t...,"[adidas, adidas, is, always, a, little, bit, r...","[adidas, adidas, is, always, a, fit, bit, room..."
4,adidas Delivery took a couple days longer than...,"[adidas, delivery, took, a, couple, days, long...","[adidas, delivery, took, a, couple, days, long..."

In [44]:
listcomments= alldata['finaltokens'].tolist()
shoes = ['nike', 'adidas', 'newbalance', 'asics']
attributes = ['fit', 'comfortable', 'uncomfortable', 'support', 'athletic', 'style', 'price', 'quality', 'badquality', 'value']
dfattributelift = pd.DataFrame(index = attributes, columns = shoes)


def twobrandcount(brand1, attribute, clist):
    count = 0
    for eachcomment in clist:
        if eachcomment.count(brand1) != 0 and eachcomment.count(attribute) != 0:
            count += 1
    return count

def singlebrandcount(brand, clist):
    count = 0
    for eachcomment in clist:
        if eachcomment.count(brand) != 0:
            count += 1
    return count

def liftratio(brand1, attribute, clist):
    numerator = twobrandcount(brand1, attribute, clist)*len(clist)
    denominator = singlebrandcount(brand1, clist)*singlebrandcount(attribute, clist)
    lift = float(numerator)/denominator
    return lift

for i in shoes:
    for j in attributes:
        dfattributelift.set_value(i, j, liftratio(i,j, listcomments))

,nike,adidas,newbalance,asics,fit,comfortable,uncomfortable,support,athletic,style,price,quality,badquality,value
nike,NaN,NaN,NaN,NaN,0.880794,0.989842,0.623935,0.711891,0.638240,0.705553,0.749197,0.687074,0.599219,0.822783
adidas,NaN,NaN,NaN,NaN,0.902999,0.758968,1.048081,1.075714,1.218325,1.639859,0.849065,1.131437,1.302559,0.346783
newbalance,NaN,NaN,NaN,NaN,1.153031,1.077868,0.925459,1.095259,0.835445,0.865633,1.008573,1.051050,1.096778,1.013195
asics,NaN,NaN,NaN,NaN,1.117024,1.197265,1.555793,1.283269,1.402747,0.870753,1.451592,1.198832,1.081903,1.970970

In [46]:
dfattributelift[['fit', 'comfortable', 'uncomfortable', 'support', 'athletic', 'style', 'price', 'quality', 'badquality', 'value']][-4:]

,fit,comfortable,uncomfortable,support,athletic,style,price,quality,badquality,value
nike,0.880794,0.989842,0.623935,0.711891,0.638240,0.705553,0.749197,0.687074,0.599219,0.822783
adidas,0.902999,0.758968,1.048081,1.075714,1.218325,1.639859,0.849065,1.131437,1.302559,0.346783
newbalance,1.153031,1.077868,0.925459,1.095259,0.835445,0.865633,1.008573,1.051050,1.096778,1.013195
asics,1.117024,1.197265,1.555793,1.283269,1.402747,0.870753,1.451592,1.198832,1.081903,1.970970